@import "tailwindcss";

@plugin "daisyui"  {
  themes: light --default, dark --prefersdark;
}

/* Custom utility classes if needed */
.break-inside-avoid {
  break-inside: avoid;
  page-break-inside: avoid;
}
